/* General */
.btn {
  border-radius: 1px;
}

.openDocuments,
.documentsList {
     background-color: #CAD5DD;
}
/*
 * Header
 */
 .documentList__header {
   background-color: #263A59;
   color: #fff;
 }
 .documentList__header__icon {
   height: 20px;
 }
 .documentList__header__user__icon {
   padding-right: 5px;
 }
 .documentList__header__logout__icon {
   padding-left: 15px;
   cursor: pointer;
 }

 .documentList__header__user {
   padding-right:10px;
   line-height: 1.5em;
 }


/* Left list */
.documentsList {
    padding: 10px;
}
.documentsList__searchList,
.documentsList__documents__search__form > .input-group {
    background-color: rgb(233, 239, 243);
}
.documentsList__searchList__select,
.documentsList__documents__search__form > .input-group {
    border: 1px solid #A2A3A5;
}
.documentsList__searchList__select {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border-radius: 1px;
}
.documentList__switch {
  font-size: 12px;
  color: rgb(38, 58, 89);
}
.documentsList__documents__search {
  border-radius: 1px;
￼  box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
  padding-bottom: 5px;
}
.documentsList__documents__search__keyWord ,
.search__button {
    background-color: inherit;
    border: 0;
}
.documentsList__documents__search__keyWord {
    border-right: 1px solid #A2A3A5;
}
.documentsList__documents__list {
  padding-top: 10px;
}
.documentsList__documents__list__element__nbResult {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ccc;
  margin: 0;
  padding: 5px 0 5px 0;
  min-height: initial;
}
.documentsList__documents__list__element__reload {
  min-height: 34px;
  top: 0;
}
.documentElement {
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8 #ccc #ccc #e8e8e8;
  margin-bottom: 0;
  padding: 0;
  margin-top: 5px;
}
.documentElement__icon {
  width: initial;
  height: 1.6em;
  border-radius: 0;
  padding: 0;
  border: 0;
}
.documentElement__state {
  text-align: left;
  width: 7em;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: normal;
  position: initial;
  top: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  margin-bottom: 0.3em;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: 0;
}
.documentElement__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}
.documentElement__state__zone {
  margin-top: -0.5em;
}

/*
 * documents tabs
 */

.openDocuments {
     padding-top:5px;
     border-bottom: 1px solid #ddd;
}
.openDocuments__createDocument {
  margin-left: 5px;
  margin-right: 5px;
}

.documentTab, li > a.documentTab {
  background-color: rgb(226, 226, 226);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.documentsWrapper {
  background-color: #fff;
  padding-top: 5px;
}


/*
 * Affichage reduit
 */
  .openDocuments__openDocumentCloseAll {
    line-height: 1.8em;
    margin-right: 5px;
    color: rgb(38, 58, 89);
  }
.openDocuments__openDocumentList.visible-xs.visible-sm {
     margin-left: 5px;
 }
 .openDocuments__openDocumentList > i {
     color: rgb(38, 58, 89);
 }
