@import "../../STYLE/custom-less-variable.d/global_variables.less";
@import "../../lib/font-awesome/less/font-awesome";

@fa-font-path: "../../../lib/font-awesome/fonts";
@import "../../lib/bootstrap/3/less/mixins.less";
// Reset and dependencies
@import "../../lib/bootstrap/3/less/normalize.less";
@import "../../lib/bootstrap/3/less/print.less";
@import "../../lib/bootstrap/3/less/glyphicons.less";
// Core CSS
@import "../../lib/bootstrap/3/less/scaffolding.less";
@import "../../lib/bootstrap/3/less/type.less";
@import "../../lib/bootstrap/3/less/grid.less";
@import "../../lib/bootstrap/3/less/forms.less";
@import "../../lib/bootstrap/3/less/buttons.less";
@import "../../lib/bootstrap/3/less/button-groups.less";
@import "../../lib/bootstrap/3/less/dropdowns.less";
@import "../../lib/bootstrap/3/less/input-groups.less";
@import "../../lib/bootstrap/3/less/list-group.less";
@import "../../lib/bootstrap/3/less/labels.less";
@import "../../lib/bootstrap/3/less/navs.less";
@import "../../lib/bootstrap/3/less/navbar.less";
@import "../../lib/bootstrap/3/less/utilities.less";
@import "../../lib/bootstrap/3/less/close.less";
@import "../../lib/bootstrap/3/less/responsive-utilities.less";

@font-face {
  font-family: "BDL";
  font-weight: normal;
  src: url('../../RESPONSIVE_LIST/CSS/fonts/Raleway-Regular.ttf');
}

@grid-gutter-width: 0;

@screen-md: 959px;

@bdd-font-color: #F5F5F5;

body {
  overflow: hidden;
  font-family: BDL, sans-serif;
}

.loading__wrapper, .error__wrapper {
  text-align: center;
  .make-sm-column(12);
}

.hiddenLittle {
  @media (max-width: @screen-sm-max) {
    .responsive-invisibility();
  }
}

.documentsWrapper__div {
  width: 100%;
  height: 100%;
}

/* General */

.openDocuments,
.documentsList {
  background-color: @bdd-font-color;
}

/**
 * Header
 **/

.documentList__header__icon {
  max-height: 40px;
  margin: 5px;
}

.documentsList__header {
  font-size: 1.4em;
}

.documentList__header__application {
  position: relative;
  font-size: 1.2em;
  top: 3px;
}

.documentList_header__user .dropdown-toggle {
  padding: 15px 15px;
}

.documentList__header__user__chevron {
  font-size: 0.7em;
  color: #C1BDBD;
}

.documentList__header__user__dropdown {
  margin: 0;
  min-width: 22.3em;
  padding-bottom: 0.7em;
}

.dropdown-menu.documentList__header__user__dropdown > li > a {
  line-height: 1.9em;
}

/**
* Main content
**/

.documentsList__content {
  margin-top: 50px;
}

/**Left list **/

.documentsList {
  .make-sm-column(12);
  .make-md-column(3);
  .make-lg-column(3);
  @media (min-width: @screen-md-min) {
    border-right: 1px solid @nav-tabs-border-color;
  }
  z-index: 10;
}

.documentsList__searchList {
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  width : ~"calc(100% - 70px)";
}

.documentsList__switch__wrapper {
  .make-xs-column(1);
  .make-sm-column(1);
  @media (min-width: @screen-sm-max) {
    .responsive-invisibility();
  }
}

.documentsList__documents__search {
  padding-top: 1em;
  border-top: @nav-tabs-border-color 1px solid;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.documentsList__documents__list__element__nbResult__container {
  margin-right: 1em;
}

.documentsList__documents__list__elements {
  width: 100%;
  overflow-y: auto;
}

.documentsList__empty {
  position: absolute;
  top: 40%;
  left: 60%;
}

.documentList__switch {
  padding: 0;
  color: rgb(38, 58, 89);
}

.documentsList__documents__list {
  padding-top: 10px;
}

.documentsList__documents__list__element__nbResult {
  border: 0 solid #ccc;
  border-bottom-width: 1px;
  margin: 0;
  padding: 5px 0 5px 0;
  min-height: initial;
}

.documentElement {
  position: relative;
  margin-top: 1px;
  border-left: none;
  border-right: none;
  border-top: white 1px solid;
  border-bottom: 1px solid #dddddd;
  background-color: @bdd-font-color;
  font-size: 1.25em;
  padding-left: 1.8em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-right: 10px;
}

.list-group-item.documentElement:hover {
  background-color: darken(@bdd-font-color, 5%);
}

.documentElement--active {
  background-color: darken(@bdd-font-color, 7.5%);
}

.documentElement--active::after {
  position: absolute;
  right: -9px;
  top: 3px;
  width: 0;
  height: 0;
  border-top: 37px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 9px solid darken(@bdd-font-color, 7.5%);
}

.documentElement__icon {
  width: initial;
  height: 1.6em;
  border-radius: 0;
  border: 0;
  padding: 0 1em 0 0;
  margin-right: 0.2em;
}

.documentElement__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

.documentElement__title__content {
  position: relative;
  top: -0.5em;
}

.documentElement__title__state {
  font-size: 0.85em;
  color: #8C8C8C;
  position: relative;
  top: -0.3em;
}

.documentElement__state {
  background-color: #14E0FF;
  position: absolute;
  top: 1em;
  width: 0.4em;
  height: 3em;
  left: 1.2em;
}

/*
 * documents tabs
 */

.documentList {
  font-size: 1.5em;
}

.openDocuments__tab {
  position: relative;
}

.documentTab {
  width: 200px;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.documentTab, li > a.documentTab {
  padding: 0.2em 1em 0.2em 0.4em;
  background-color: rgb(226, 226, 226);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.documentTab__hidden, .documentTab__hidden a.documentTab {
  background-color: white;
  border: none;
}

.documentTab__remove {
  position: absolute;
  top: 0.1em;
  right: 0.2em;
}

.openDocuments__createDocument {
  .btn {
    padding: 3px 12px;
  }
}

.openDocuments__openDocumentList {
  .btn {
    padding: 0;
    font-size: 0.9em;
  }
  span {
    color: rgb(38, 58, 89);
  }
  margin-left: 5px;
}

.openDocuments {
  .make-sm-column(12);
  .make-md-column(9);
  .make-lg-column(9);
  z-index: 10;
  padding-top: 5px;
}

.openDocuments__createDocument {
  margin-left: 5px;
  margin-right: 5px;
}

.documentsWrapper {
  margin-left: 1em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px 4px rgba(0, 0, 0, 0.04), 0 0 2px 8px rgba(0, 0, 0, 0.03);
}

.openDocuments__more {
  margin-right: 5px;
  margin-top: -2px;
  .btn {
    padding: 4px 10px;
  }
}

.openDocuments__openDocumentCloseAll {
  line-height: 1.8em;
  margin-right: 5px;
  color: rgb(38, 58, 89);
  .btn {
    padding: 0;
  }
}

