@import "../../lib/bootstrap/3/less/variables.less";
@import "../../lib/bootstrap/3/less/mixins.less";
// Reset and dependencies
@import "../../lib/bootstrap/3/less/normalize.less";
@import "../../lib/bootstrap/3/less/print.less";
@import "../../lib/bootstrap/3/less/glyphicons.less";
// Core CSS
@import "../../lib/bootstrap/3/less/scaffolding.less";
@import "../../lib/bootstrap/3/less/type.less";
@import "../../lib/bootstrap/3/less/grid.less";
@import "../../lib/bootstrap/3/less/forms.less";
@import "../../lib/bootstrap/3/less/buttons.less";
@import "../../lib/bootstrap/3/less/button-groups.less";
@import "../../lib/bootstrap/3/less/dropdowns.less";
@import "../../lib/bootstrap/3/less/input-groups.less";
@import "../../lib/bootstrap/3/less/list-group.less";
@import "../../lib/bootstrap/3/less/labels.less";
@import "../../lib/bootstrap/3/less/navs.less";
@import "../../lib/bootstrap/3/less/navbar.less";
@import "../../lib/bootstrap/3/less/utilities.less";
@import "../../lib/bootstrap/3/less/close.less";
@import "../../lib/bootstrap/3/less/responsive-utilities.less";

@grid-gutter-width: 0;

.loading__wrapper, .error__wrapper {
  text-align: center;
  .make-xs-column(12);
}

.documentsList {
  .make-xs-column(12);
  .make-sm-column(2);
  .make-md-column(2);
  .make-lg-column(2);
  @media (min-width: @screen-sm-min) {
    border-right: 1px solid @nav-tabs-border-color;
  }
}

.documentsList__documents__list__element__nbResult {
  padding: 0.5em;
}

.documentsList__documents__search__form {
  padding-top: 0.5em;
}

.documentsList__documents__list__element__reload {
  position: relative;
  top: -0.35em;
}

.documentsList__documents__list__elements {
  width: 100%;
  overflow-y: auto;
}

.documentElement {
  padding: 5px;
}

.documentElement__icon {
  margin-right: 0.5em;
}

.documentElement__state {
  position: relative;
  top: 0.4em;
}

.openDocuments {
  .make-xs-column(12);
  .make-sm-column(10);
  .make-md-column(10);
  .make-lg-column(10);
}

.documentsWrapper__div {
  width: 100%;
  height: 100%;
}

.documentTab {
  width: 15em;
  height: 2em;
}

.documentTab, li > a.documentTab {
  padding: 0.2em 0.4em;
  border: 1px solid @gray-lighter;
}

.documentTab__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 2em;
}

li.active .documentTab__remove {
  color : white;
  .opacity(0.75);
  &:hover,
  &:focus {
    color: white;
    .opacity(1);
  }
}

.openDocuments__openDocumentList, .openDocuments__createDocument {
  .btn {
    padding: 3px 12px;
  }
}